extends layout

block content

    h1 #{title}
    p 현재 투표 수 : #{votingCount}
    p 투표 종료시간 : #{votingClose}
    form(action="", method="post")
        each subject in subjectList
            input(type="radio", name="subject" )
            |#{subject.title} (투표 수: #{subject.point})
    
    input(type="submit", value="투표")

