extends layout




block content
    script.
        var account=""
        if (typeof window.ethereum !== 'undefined') {
            window.ethereum.request({ method: 'eth_requestAccounts' }).then((result)=>{
                account = result[0]
                console.log(result)
                document.getElementById('metamask_id').innerHTML = account
            }) 
        }

        ethereum.on('accountsChanged', (accounts)=>{
            prev_account = document.getElementById('metamask_id').innerHTML;
            alert("계정정보가 바뀌었습니다. ("
                    +prev_account +") -> ("
                    +accounts[0]+")")
            document.getElementById('metamask_id').innerHTML = accounts[0]
        })

    
    h1 #{title}
    h2 현재 접속중인 EthereumAccount
        p(id = 'metamask_id') 
    p 현재 투표 수 : #{votingCount}
    p 투표 종료시간 : #{votingClose}
    form(action="", method="post")
        each subject in subjectList
            input(type="radio", name="subject" )
            |#{subject.title} (투표 수: #{subject.point})
    
    input(type="submit", value="투표")

